$color_yellow: #F9C637;
$color_white: #FFFFFF;
$color_success: rgba(108, 255, 141, 0.4);
$color_error: rgba(255, 106, 106, 0.4);
$color_blue: #1D273C;

$transition: 0.5s ease;

@import "includes/reboot";
@import "includes/grid";
@import "includes/fonts";
@import "includes/default";
@import "includes/svg";

@import "includes/body";
@import "includes/form";






