html {
	font-size: 17px;
}

body {
	background: url('../img/bg.jpg') no-repeat center bottom;
	font-family: 'Roboto Condensed';
	color: $color_yellow;
	font-weight: bold;
	font-style: normal;
}

body * {
  outline: none !important;
}

b,
strong {
  font-weight: bold;
}

a,
svg,
path,
rect,
circle,
button,
span,
::before,
::after {
	transition: $transition;
}

button {
	border-radius: 0;
	-webkit-appearance: none;
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: inherit;
}

input,
textarea,
label {
	-webkit-appearance: none !important;
	box-shadow: none !important;
}
